*{box-sizing:border-box;margin:0;padding:0;}
		.table{display:table;}
		.tr{display:table-row;}
		.tri{display:table-row;}
		.td {
			display:table-cell;
			width:250px;
			height:50px;
			border:0px ;
			text-align:center;
			vertical-align: middle;
			background-color:green;
		}
		.tdi{
			display:table-cell;
			width:200px;
			height:50px;
			border:1px solid #000;
			text-align:center;
			vertical-align: middle;
			
			background-color:white;
		}
.verde{
		
	color:green;
	display:table-row;
}
.rojo{
		
	color:red;
	display:table-row;
}
.azul{
		
	color:blue;
	display:table-row;
}
.negro{
		
	color:black;
	display:table-row;
}
